/* ---- Font import ---- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

/* ---- Css resets ---- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, svg {
  display: block;
  max-width: 100%;
}
input {
  all: unset;
}
input, button, textarea, select {
  font: inherit;
}
p, h1 {
  overflow-wrap: break-word;
}

/* ---- Costum properties ---- */
:root {
  /* colors */
  --clr-primary-400: hsl(259, 100%, 65%);
  --clr-secondary-400: hsl(0, 100%, 67%);
  --clr-neutral-900: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(0, 0%, 94%);
  --clr-neutral-400: hsl(0, 0%, 86%);
  --clr-neutral-300: hsl(0, 1%, 44%);
  --clr-neutral-100: hsl(0, 0%, 8%);

  /* font family */
  --ff-main: "Poppins";
  --ff-backup: sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* ---- General styling ---- */
body {
  min-height: 100vh;
  font-family: var(--ff-main), var(--ff-backup);
  background-color: var(--clr-neutral-700);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-inline: auto;
  background-color: var(--clr-neutral-900);
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  border-radius: 20px;
  gap: 6rem;
  border-bottom-right-radius: 140px;
}
.fields {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.field label {
  display: block;
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
  font-size: 11px;
  margin-bottom: 0.4rem;
  letter-spacing: 3px;
}
.field input {
  color: var(--clr-neutral-100) !important;
  height: 50px;
  width: 100px;
  padding: 5px 19px;
  font-weight: var(--fw-extra-bold);
  font-size: 26px;
  border: 1px solid var(--clr-neutral-400);
  border-radius: 7px;
  caret-color: var(--clr-primary-400);
}
.field input:hover,
.field input:focus {
  border: 1px solid var(--clr-primary-400);
}
.field input::placeholder {
  opacity: 0.7;
}
.field p {
  font-weight: var(--fw-regular);
  font-size: 13px;
  margin-top: 7px;
}
.age {
  margin-top: 4.5rem;
}
.age p {
  font-weight: var(--fw-extra-bold);
  font-size: 80px;
  line-height: 1.2;
}
.age span {
  color: var(--clr-primary-400);
}
.btn-container {
  margin-top: 13%;
}
button {
  position: relative;
  background-color: var(--clr-neutral-100);
  border: none;
  border-radius: 50%;
  padding: 1.4rem;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: var(--clr-primary-400);
}
button img {
  width: 35px;
}
button::before {
  content: "";
  position: absolute;
  width: 540px;
  height: 2px;
  right: 80px;
  bottom: 50%;
  top: 50%;
  background-color: var(--clr-neutral-400);
  opacity: 0.7;
}
.error {
  color: var(--clr-secondary-400) !important;
  border-color: var(--clr-secondary-400) !important;
}

/* ---- Media queries ---- */

@media only screen and (max-width: 750px) {
  body {
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
  .container {
    position: relative;
    padding: 3rem 2rem;
    flex-direction: column;
    gap: 1rem;
    min-width: 100px;
  }
  .fields {
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  .field input {
    width: 80px;
    padding: 5px 19px;
    font-size: 24px;
  }
  .field p {
    font-size: 12px;
    margin-top: 8px;
  }
  .age {
    margin-top: 11rem;
  }
  .age p {
    font-weight: var(--fw-extra-bold);
    font-size: 65px;
  }
  .btn-container {
    position: absolute;
    top: 22%;
    right: 41%;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button::before {
    width: 150px;
  }
  /* adding another line to the right of the button */
  button::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    left: 80px;
    bottom: 50%;
    top: 50%;
    background-color: var(--clr-neutral-400);
    opacity: 0.7;
  }
}